/* Estilos CSS para la disposición del Swiper y los botones de navegación */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #000; /* Ajusta el color de fondo a negro */
    color: #fff; /* Ajusta el color del texto a blanco u otro color claro para mayor legibilidad */
}

/* Estilos CSS para la disposición del Swiper y los botones de navegación */
.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    width: auto;
    height: 300px; /* Ajusta la altura de las imágenes según sea necesario */
    object-fit: cover;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 24px;
}

.swiper-button-next {
    right: 10px;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 10px;
    transform: translateY(-50%);
}
